@media (max-width: 1040px) {
    .container {
       display: flex;
       flex-direction: column;
       width: 30rem;
       height: 40rem;
       margin: 4rem 0 0 16rem;
       border-radius: 15px;
    }

    .container__formulario {
        margin-top: 10%;
    }
     
h1 {
    font-size: 3rem;
}

.subtitulo {
    font-size: 1rem;
    margin: 3% 0;
}

.container__dados {
    width: 80%;
    margin-top: 5%;
}

input {
    margin-top: 1%;
}

.submit {
    margin-top: 5%;
    width: 20rem;
}

.submit:hover {
    background-color: #0D7C66;
    color: #F5F5F5;
}

.links__auxiliares {
    margin-top: 8%;
    padding-right: 1%;
    
}

.texto__contas {
    margin-left: 40%;
}

.conta__vinculada, .texto__contas {
    margin-top: 3rem;
}

.container__imagem {
        display: none;
    }
    

 
}


@media (max-width: 500px) {
   body {
      background-image: url(../img/paduret.jpg);
      background-position: center;
   }

   .container {
      margin: 30% 2%;
      width: 95%;
      height: 40rem;
   }

   .container__formulario {
    width: 100%;
    height: 100%;
   }

   .container__dados {
      width: 85%;
   }

   input {
    width: 90%;
   }

   .submit:hover {
    background-color: #0D7C66;
    color: #F5F5F5;
   }

   .texto__contas {
    margin-top: 1rem;
   }
     
   .conta__vinculada {
       margin-top: 4rem;
       height: 2rem;
   }

   .container__imagem {

    display: none;
}


}

